.jumbotron{
	background-color: #0f2770 !important;
	margin-top: 25px;
	margin-bottom: 55px !important;
}

.header-nyt{
	text-align: center;
	font-family: Arial;
	font-weight: bold;
	color: #fff !important;
}

.panel-heading{
	background-color: #0a2f56 !important;
	color: #fff !important;
	font-weight: bold;
	font-size: 16px;
}

.btn{
	padding: 10px !important;
}